@{
    ViewBag.Title = "SMSystem";
}

<div class="jumbotron">
    <h1>Student Management System</h1>
    <p class="lead">This is the home page.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Courses we provide</h2>
        <p>
           You can join with any course you prefer. just O/L qualification is required
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Institutes we support</h2>
        <p>
            We are collaborating with university of moratuwa.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our staff</h2>
        <p>
            We have the best staff in Sri lanka to support you
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>